[paths]
source =
   src
   */site-packages

[run]
branch = true
source =
    laser_cholera
    tests
parallel = true
omit =
    src/laser_cholera/__main__.py

[report]
show_missing = true
precision = 2
omit = *migrations*
exclude_also =
    if __name__ == .__main__.:
